<script>
    $(document).ready(function () {
        $('.file-box').each(function () {
            animationHover(this, 'pulse');
        });
    });
</script>
<div class="ibox-content form-horizontal m-t">
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;资质证</h3>


  <% @zhengzhao.zhengzhaoexpands.each do |f| %>
      <% if f.keyword.to_s == "zzz" %>

          <div class="file-box">
            <div class="file">
              <a href=<%= f.expand.url %>>
                <span class="corner"></span>
                <div class="image" align="center">
                  <% if f.expand_content_type[0,5]=="image"%>
                      <%= image_tag(f.expand.url,width: "300px",title:f.expand_file_name) %>
                  <%else%>
                      <%= image_tag("attch.png",width:"100px",title:f.expand_file_name) %>
                  <%end%>
                </div>

              </a>
              <div class="file-name">
                <%= f.expand_file_name %>
              </div>
            </div>
          </div>
      <% end %>

  <% end %>


      <div class="form-group">

      </div>

</div>