<script>
    $(document).ready(function () {
        $('.file-box').each(function () {
            animationHover(this, 'pulse');
        });
    });
</script>
<div class="ibox-content form-horizontal m-t">
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;税务登记证</h3>


  <% @zhengzhao.zhengzhaoexpands.each do |f| %>
      <% if f.keyword.to_s == "swdjz" %>

          <a href=<%= f.expand.url %>>
            <%= image_tag("attch.png",width:"30px",title:f.expand_file_name) %>&nbsp;&nbsp;<%= f.expand_file_name %>
          </a>
      <% end %>

  <% end %>


      <div class="form-group">

      </div>

</div>