<script type="text/javascript" language="JavaScript">
    function xiangmuleixingselect(){
        document.getElementById("achievement_cla_id").value=document.getElementById("claid").value;
    }
    function readURL(input,imgid) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('.'+imgid)
                        .attr('src', e.target.result)
                //.width(300)
                //.height(200);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<div class="ibox-content form-horizontal m-t">



      <div class="form-group">
        <label class="col-sm-3 control-label">公司名称：</label>
        <div class="col-sm-5">
          <%= @zhengzhao.namecompany %>
        </div>
      </div>











</div>