<script>
    $(document).ready(function () {
        $('.file-box').each(function () {
            animationHover(this, 'pulse');
        });
    });
</script>
<div class="ibox-content form-horizontal m-t">
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;安全证</h3>


  <% @peo.peoatts.each do |f| %>
      <% if f.keyword.to_s == "aqz" %>

          <a href=<%= f.attch.url %>>
            <%= image_tag("attch.png",width:"30px",title:f.attch_file_name) %>&nbsp;&nbsp;<%= f.attch_file_name %>
          </a>
      <% end %>

  <% end %>


  <div class="form-group">

  </div>

</div>